extends layout

block page_title 
  title das ist der Seitentitel


block greeting 
  h1 Hallo Welt
block software_engineer
  p Ich werde bald Software-Ingenieur!
  img(src="/images/earth.jpg" alt="die Erde" title="die Erde")